body{
	color: black;
	background-color: #e7f0ff;
	font-family: Arial, Helvetica, sans-serif;
}
.header{
	font-family: Times New Roman;
	text-align: center;
	padding: 25px, 10px;
	background-color: #3498db;
	color: white;
}
ul.navbar{
	 list-style: none;
	 position: absolute;
	 margin-left: 8px;
	 margin-right: 118px;
	 margin-top: 0px;
	 margin-bottom: 0px;
	 padding: 0;
	 top: 6em;
	 left: 0em;
	 width:100%;
	 background-color: #333;
	 display: flex;
	 justify-content: space-around;
	 align-items: center;
}
ul.navbar li{
	position: relative;
}
ul.navbar li a{
	display: block;
	padding: 2px ;
	color: white;
	text-decoration: none;
	font-weight: bold;
}
ul.navbar li a:hover{
	color: #3498db;
	background-color: #555;
}
ul.navbar .content {
    display: none;
    position: absolute;
    background-color: #444;
    list-style: none;
    margin: 0;
    padding: 0;
}
li.dropdown:hover ul.content{
	display: block;
}
@media all{
	body{background-color: #e7f0ff;}
}
@media print{
	body
	{
		background-color: white;
		color: black;
	}
}